//Margin
$base-margin: 160px;

//fonts
$fonts: 'Montserrat';

//colors
$color-black:#1C2A39;
$color-blue:#4C3DB2;
$color-purple:#9E98DC;
$color-pink:#FF8FE6;
$color-white:#FFFFFF;
$color-grey:#EFEEF6;
$color-red:#FF353A;
